body {
    background-color: #000;
}

#top-card-container {
    margin-bottom: 50px;
}

#top-header-name {
    font-size: 72px;
    color: #2b8c4a;
    margin-top: 20%;
    margin-bottom: 20%;
}

#top-header-headline {
    font-size: 36px;
    color: #2b8c4a;
    margin-bottom: 2%;
}

.top-nav {
    margin-bottom: 5%;
    background-color: #000000;
}

top-nav-brand {
    color: #2b8c4a;
    font-weight: 200;
}

.top-nav-link {
    color: #2b8c4a;
}


.loading-title {
    color: gray
}

.working-title {
    color: #2b8c4a;
}

.proj-card {
    width: 10rem;
}

.event-card {
    width: 10rem;
}